.sideNav {
	height: 100%;
	width: 4.4rem;
	font-size: 0.6em;
	position: fixed;
	margin-top: 0.5rem;
}

.sideNav ul {
	padding-left: 0;
	margin: 0;
}

.sideNav ul {
	list-style-type: none;
}

.sideNav ul a {
	height: 4.55rem;
	text-decoration: none;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.sideNav ul a:hover {
	background-color: #404040;
}
.sideNav ul a:first-child {
	height: 3.6rem;
}
.sideNav ul a:first-child {
	border-radius: 50%;
}
