body {
	margin: 0;
	font-family: Roboto, Arial, sans-serif;
  color: white;
	background-color: #202020;
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 400;
  overflow: hidden;
}

nav {
	height: 100%;
	width: 6rem;
  font-size: .8em;
  display: flex;
  flex-direction: row;

}

nav ul{
  height: 6rem;
  display: flex;
	list-style-type: none;
	padding-inline-start: 0;
}
