a{
    color: blue;
    text-decoration: underline;
        cursor: pointer;

}
a:hover{
    text-decoration: none;

}
.nav-link{
    text-decoration: none;

}
.nav-link:hover{
    color: #5495ff;
}
.btn{
    font-family: 'Raleway', sans-serif;
    background-color: #2176FF;
    text-decoration: none;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 400;
    padding: 14px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;

}
.btn:hover{
    transition: all .5s ease-in-out;
    border: 2px solid #62DFF5;
}
.btn:active{
    font-size: 14px;
    transition: font-size .25s;
    background-color: #62DFF5;
    border: 0px 0px;
}
.activity{
    text-decoration: none;
    border: 3px solid #2176FF;
    cursor: pointer;
}
.activity:hover {
    background-color: #fff;
    color: #5495ff;
    transition: color .1s ease-in, background-color .1s ease-in;
  }
   
  .activity:active {
    font-size: 40px;
    transition: font-size .1s;
  }