/*general stylling*/

body{
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: lightsalmon;
}

/*header*/

header{
    background-color: teal;
    padding-top: 1em;
    width: 100%;
}

header ul{
    list-style: none;
    margin: 0;
}

header li{
    display: inline-block;
    margin-right: 1.5rem;
    padding: 0.5rem 1.5rem;
}

header a{
    text-decoration: none;
    color: lightsalmon;
}

/*hero*/

.hero{
    height: 30rem;
    padding-top: 1rem;
    background-image: url('https://content.codecademy.com/PRO/independent-practice-projects/responsive-meetup-page/img/runner-splash.jpg');
}

.hero h1{
    background-color: rgba(0.5, 0.5, 0.5, 0.5);
    color: Coral;
    text-align: center;
    font-size: 2rem;
    margin-top: 10rem;
    padding: 2rem;

}

/*main*/

.summary{
    padding: 0 1rem;
}

.bryce, .summary, .images{
    margin: 4rem auto;
    color: white;
}

.summary h2{
    color: yellow;
}

.images img{
    margin: 1.5%;
    display: inline-block;
    width: 30%;
}

.bryce{
    background-color: teal;
    height: 20rem;
    padding: 0 1rem;
    padding-top: 1rem;
    color: yellow;
}
.bryce h1{
    font-size: 2.5rem;
}

.join {
    text-align: center;
    color: yellow;
}

.join img{
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
}

.join{
        margin-bottom: 2rem;
}

/*footer*/

footer{
    background-color: teal;
    padding-top: 1em;
    width: 100%;
}

footer ul{
    list-style: none;
    margin: 0;
}

footer li{
    display: inline-block;
    margin-right: 1.5rem;
    padding: 0.5rem 1.5rem;
}

footer a{
    text-decoration: none;
    color: lightsalmon;
}

@media only screen and (max-width: 640px){
    .hero h1{
        margin-top: 2rem;
    }

    .hero {
        max-height: 200px;
    }
    
    .images img, .join img{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    header li, footer li{
        display: block;
        text-align: center;
    }
}

@media only screen and (max-width: 320px){
    .bryce h1, .bryce p {
        font-size: 1rem;
      }
      .bryce{
          max-height: 13rem;
      }
}
