.filter-bar {
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 4.5rem;
	height: 3.5rem;
	border-block-end: 1px solid #404040;
}
.filter-button {
	background-color: #373737;
	color: rgba(255, 255, 255, 1);
	height: 2.2rem;
	border: 1px solid rgba(75, 75, 75, 1);
	margin: 12px;
	margin-left: 0;
	border-radius: 20px;
	padding-right: 8.5px;
	transition: 0.28s;
}

.filter-button:first-child {
	margin-left: 44px;
}
.filter-button:hover {
	background-color: rgba(77, 77, 77, 1);
}
.selected {
	color: #030303;
	background-color: #ffff;
}
.selected:hover {
	background-color: #909090;
}
.arrow-button{
	display: flex;
	align-items: center;
	height: 100%;
}
.arrow-button svg{
	margin-right: 1rem;
	padding: .5rem  ;
	border-radius: 50%;
	transition: all .28s;
}
.arrow-button svg:hover{
	background-color: #373737;
	cursor: pointer;
}
.arrow-button::before{
	content: "";
	height: 100%;
	padding-left: .9rem;
	padding-right: .9rem;
	background: linear-gradient(to left, rgba(33, 33, 33, 0.98) 20%, #202020 80%);
	
}