.header{
    display: flex;
    justify-content: space-between;
    margin-left: 4.5rem ;
    height: 3.8rem;
    border-block-end: 1px solid #404040;
}
.header-user-features{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 26.19px;
}

.user-icon{
    margin-left: 2rem ;
}