.posts-container {
	margin-left: 4.5rem;
	background-color: rgba(24, 24, 24, 1);
	position: absolute;
	flex: 1;
}
.posts-container .posts-list {
	width: 80%;
	margin-top: 1.5rem;
	margin-left: 4rem;
	flex: 1;
}
