.post-block {
	margin-bottom: 15px;
	display: flex;
}
.post-data {
	margin-left: 13px;
	color: #a5aa9c;
	/* flex-shrink: 1; */
	width: 80%;
	/* height: 7rem; */
}

.post-block .content-image {
	flex-shrink: 1;
	flex-basis: 240px;
	max-width: 240px;
	height: 10rem;
	/* min-height: 10rem; */
	border-radius: 2.5px;
}
.post-block .subreddit-icon {
	height: 1.7rem;
	width: 1.7rem;
	border-radius: 50%;
}
.post-data h4.title {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* number of lines to show */
	-webkit-box-orient: vertical;
 
	font-size: 1.2rem;
	font-weight: 300;
	color: #ffffff;
	margin-top: 0;
	margin-bottom: 2px;
}
.post-data p {
	font-size: 0.75rem;
	margin: 0;
}
.upvotes-date-data {
	display: flex;
}
.subreddit {
	display: flex;
	align-items: flex-end;
	padding-block: 12px;
}
.subreddit p {
	margin-left: 7px;
}
.upvotes-date-data p span {
	margin: 0 4px;
}
