.posts-container {
    margin-left: 4.5rem;
	background-color: rgba(24, 24, 24, 1);
    position: absolute;
    width: 100%;
    
}
.posts-container .posts-list{
    margin-top: 1.5rem;
    margin-left: 4rem;
    
}
